.tasks {
    font-size: 4vw;
    border: 0.4vh solid rgb(242, 242, 248);
    border-radius: 2vh;
    margin-bottom: 1vh;
    color:rgb(211, 240, 253);
    white-space: nowrap;
    overflow:hidden;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto 1vh;
}

.tasks:hover {
    transform: scale(1.07) perspective(0.1vh);
}

.checkbox {
    margin-top: 0.001vh;
    height: 3vh;
    width: 3vh;
    background-color: #eee;
    
}

.container:hover input ~ .checkbox {
    background-color: #ccc;
  }
